@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=Poppins:wght@300;600&family=Roboto:wght@300;400;500;700&display=swap');

.container{
    padding: 10px 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

input[type=text] {
    padding: 10px;
    font-size: 14px;
}

.logo{
    width: 350px;
    height: 40px;
}

/* HEADER*/
header{
    display: flex;
    justify-content: space-between;
}

header div div{
    display: flex;
}

.face svg{
    margin-right: 10px;
}

h4{
    padding-top: 3px;
    color: #023859;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.help{
    display: inline-flex;
    gap: 10px;
}

.helping-find h3{
    display: flex;
    background-color: rgba(204,16,41,0.1);
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    height: 40px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.help div a{
    text-decoration: none;
    color: #023859;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    height: 0;
}

.logout-button{
    background-color: #023859;
    color: #FFFFFF;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

/* FIM DO HEADER*/

/*INICIO DO CONTEUDO*/

.content{
    padding: 30px 10px;
    width: 100%;
}

.left{
    width: 50%;
}

.right{
    width: 50%;
}

#nameMissing{
    width: 85%;
}

#birth{
    width: 50%;
}

#weight, #dateOfMissing{
    width: 40%;
}

#illnesses{
    width: 52%;
}

#tattoo, #gender{
    width: 50%;
}

.right input{
    width: 65%;
}

#state, #city{
    width: 65%;
}

#place{
    width: 50%;
}


.content h2{
    text-align: center;
    padding-bottom: 40px;
    color: #023859;
}

.form{
    display: flex;
    justify-content: space-between;
}

.form p{
    padding: 4px 0;
}

label{
    color: #023859;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.formCenter{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.formCenter p{
    padding-bottom: 10px;
}

.right p{
    display: flex;
    justify-content: end;
    align-items: center;
}

.form .right p{
    padding: 8px 0;
}

.right p label{
    padding: 0px 15px;
}

input, select{
    border-radius: 8px;
    background-color: #EDEDE9;
    height: 35px;
    border: none;
}

.region{
    padding-top: 20px;
    width: 100%;
}

.CEP{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.state{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: start;
    align-items: center;
}

.city{
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.address{
    padding-top: 30px;
    text-align: center;
}

.address input{
    margin: 10px 0 20px 0;
}

/*Área do botáo para selecionar imagem*/

.archives{
    padding-top: 30px;
    padding-bottom: 10px;
}

input[type="file"] {
    display: none;
}

.archives label {
    background-color: #023859;
    padding: 10px 10px;
    color: #FFFFFF;
    border-radius: 10px;
    border:none;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

/* Área das peças de roupas*/

.clothes{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.comments{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.clothes label, .comments label{
    padding-right: 20px;
}

#clothes, #comments{
    width: 80%;
    height: 88px;
}

/* Área do botão de registrar*/

.button{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.button button{
    color: #F2F1DC;
    font-size: 26px;
    text-align: center;
    background-color: #023859;
    width: 211px;
    height: 50px;
    border-radius: 12px;
    border: none;
}