html, body{
    width: 100%;
    height: 100%;
}

.container{
    padding: 10px 10px;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.logo{
    width: 350px;
    height: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type=text], input[type= password] {
    padding: 10px;
    font-size: 20px;
}

.helping-find h3{
    display: flex;
    background-color: rgba(204,16,41,0.1);
    border-radius: 10px 10px 0px 0px;
    font-weight: 700;
    height: 40px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

.help div a{
    text-decoration: none;
    color: #023859;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

main {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formLogin {
    width: 800px;
    height: 500px;
    background-color: #023859;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 71px;
    border-bottom: 1px solid #fff;
}

.loginTitle p {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

form {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

label {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    margin-right: 35px;
}

input {
    width: 350px;
    height: 45px;
    border-radius: 12px;
    border: none;
}

button {
    width: 184px;
    height: 44.55px;
    color: #023859;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    cursor: pointer;
}

button:hover
{
    background-color: rgba(204,16,41,0.7);
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}